#1.Data Exploration and Preprocessing                    
●	Begin by loading and exploring the "Alphabets_data.csv" dataset. Summarize its key features such as the number of samples, features, and classes.           
●	Execute necessary data preprocessing steps including data normalization, managing missing values.

In [1]:
import pandas as pd
import numpy as np

# Load the dataset
Alphabets_df = pd.read_csv('Alphabets_data.csv')

Alphabets_df

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [2]:
Alphabets_df.info() # Display basic Information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   letter  20000 non-null  object
 1   xbox    20000 non-null  int64
 2   ybox    20000 non-null  int64
 3   width   20000 non-null  int64
 4   height  20000 non-null  int64
 5   onpix   20000 non-null  int64
 6   xbar    20000 non-null  int64
 7   ybar    20000 non-null  int64
 8   x2bar   20000 non-null  int64
 9   y2bar   20000 non-null  int64
 10  xybar   20000 non-null  int64
 11  x2ybar  20000 non-null  int64
 12  xy2bar  20000 non-null  int64
 13  xedge   20000 non-null  int64
 14  xedgey  20000 non-null  int64
 15  yedge   20000 non-null  int64
 16  yedgex  20000 non-null  int64
dtypes: int64(16), object(1)
memory usage: 2.6+ MB

In [3]:
Alphabets_df.describe() # Display Statistical Summary

,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
count,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000
mean,4.023550,7.035500,5.121850,5.37245,3.505850,6.897600,7.500450,4.628600,5.178650,8.282050,6.45400,7.929000,3.046100,8.338850,3.691750,7.80120
std,1.913212,3.304555,2.014573,2.26139,2.190458,2.026035,2.325354,2.699968,2.380823,2.488475,2.63107,2.080619,2.332541,1.546722,2.567073,1.61747
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,3.000000,5.000000,4.000000,4.00000,2.000000,6.000000,6.000000,3.000000,4.000000,7.000000,5.00000,7.000000,1.000000,8.000000,2.000000,7.00000
50%,4.000000,7.000000,5.000000,6.00000,3.000000,7.000000,7.000000,4.000000,5.000000,8.000000,6.00000,8.000000,3.000000,8.000000,3.000000,8.00000
75%,5.000000,9.000000,6.000000,7.00000,5.000000,8.000000,9.000000,6.000000,7.000000,10.000000,8.00000,9.000000,4.000000,9.000000,5.000000,9.00000
max,15.000000,15.000000,15.000000,15.00000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.00000,15.000000,15.000000,15.000000,15.000000,15.00000

In [4]:
from sklearn.preprocessing import MinMaxScaler

# Normalize the numerical features (excluding the "letter" column).
scaler = MinMaxScaler()
normalized_data = Alphabets_df.copy()
normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])

# Display the first few rows of the normalized data.
normalized_data.head()
# The dataset has been normalized, with all numerical features now scaled between 0 and 1.

C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.13333333 0.33333333 0.26666667 ... 0.4        0.13333333 0.26666667]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])
C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.53333333 0.8        0.73333333 ... 0.6        0.2        0.6       ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])
C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.2        0.2        0.4        ... 0.4        0.26666667 0.4       ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])
C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.33333333 0.46666667 0.53333333 ... 0.46666667 0.13333333 0.4       ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])
C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.06666667 0.13333333 0.4        ... 0.33333333 0.06666667 0.13333333]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])
C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.53333333 0.66666667 0.66666667 ... 0.4        0.53333333 0.6       ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])
C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.86666667 0.33333333 0.4        ... 0.73333333 0.46666667 0.33333333]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])
C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.         0.33333333 0.13333333 ... 0.2        0.13333333 0.2       ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])
C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.4        0.26666667 0.4        ... 0.46666667 0.4        0.06666667]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])
C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.4        0.86666667 0.66666667 ... 0.73333333 0.66666667 0.53333333]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])
C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.66666667 0.2        0.2        ... 0.6        0.4        0.06666667]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])
C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.53333333 0.6        0.46666667 ... 0.33333333 0.53333333 0.53333333]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])
C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.         0.13333333 0.2        ... 0.13333333 0.06666667 0.13333333]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])
C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.53333333 0.53333333 0.46666667 ... 0.8        0.6        0.46666667]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])
C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.         0.26666667 0.2        ... 0.13333333 0.33333333 0.13333333]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])
C:\Users\Pooja\AppData\Local\Temp\ipykernel_4656\1887860129.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.53333333 0.66666667 0.6        ... 0.26666667 0.53333333 0.53333333]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  normalized_data.iloc[:, 1:] = scaler.fit_transform(Alphabets_df.iloc[:, 1:])

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,0.133333,0.533333,0.2,0.333333,0.066667,0.533333,0.866667,0.000000,0.400000,0.400000,0.666667,0.533333,0.000000,0.533333,0.000000,0.533333
1,I,0.333333,0.800000,0.2,0.466667,0.133333,0.666667,0.333333,0.333333,0.266667,0.866667,0.200000,0.600000,0.133333,0.533333,0.266667,0.666667
2,D,0.266667,0.733333,0.4,0.533333,0.400000,0.666667,0.400000,0.133333,0.400000,0.666667,0.200000,0.466667,0.200000,0.466667,0.200000,0.600000
3,N,0.466667,0.733333,0.4,0.400000,0.200000,0.333333,0.600000,0.266667,0.400000,0.266667,0.266667,0.666667,0.400000,0.666667,0.133333,0.533333
4,G,0.133333,0.066667,0.2,0.066667,0.066667,0.533333,0.400000,0.400000,0.400000,0.400000,0.333333,0.600000,0.066667,0.466667,0.333333,0.666667

In [5]:
Alphabets_df.isnull().sum() # Check for missing values. No missing values are present in the dataset.

letter    0
xbox      0
ybox      0
width     0
height    0
onpix     0
xbar      0
ybar      0
x2bar     0
y2bar     0
xybar     0
x2ybar    0
xy2bar    0
xedge     0
xedgey    0
yedge     0
yedgex    0
dtype: int64

#2.Model Implementation
● Construct a basic ANN model using your chosen high-level neural network library. Ensure your model includes at least one hidden layer.             
●	Divide the dataset into training and test sets.                   
●	Train your model on the training set and then use it to make predictions on the test set.

In [6]:
!pip install tensorflow #install TensorFlow

ERROR: Invalid requirement: '#install': Expected package name at the start of dependency specifier
    #install
    ^

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import warnings
warnings.filterwarnings("ignore")

# Encode the target labels ('letter') as integers
label_encoder = LabelEncoder()
normalized_data['letter'] = label_encoder.fit_transform(normalized_data['letter'])


X = normalized_data.drop(columns=['letter']) # features.
y = normalized_data['letter']                # target.


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) # Split the dataset into training and test sets (80% train, 20% test)

# Build a basic ANN model
model = Sequential()

# Input layer and one hidden layer
model.add(Dense(32, input_dim=X_train.shape[1], activation='relu'))  # Input layer + hidden layer
model.add(Dense(16, activation='relu'))                              # Hidden layer
model.add(Dense(len(label_encoder.classes_), activation='softmax'))  # Output layer

# Compile the model
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
#The sparse categorical cross-entropy loss is similar to categorical cross-entropy, but it is used when the target tensor contains integer class labels instead of one-hot encoded vectors.

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.2, verbose=1)

# Evaluate the model on the test set
loss, accuracy = model.evaluate(X_test, y_test, verbose=0)
print(f"Test Loss: {loss:.4f}")
print(f"Test Accuracy: {accuracy * 100:.2f}%")  # Accuracy is printed in percentage format

ModuleNotFoundError: No module named 'tensorflow'

#3.Hyperparameter Tuning
●	Modify various hyperparameters, such as the number of hidden layers, neurons per hidden layer, activation functions, and learning rate, to observe their impact on model performance.                                             
●	Adopt a structured approach like grid search or random search for hyperparameter tuning, documenting your methodology thoroughly.

In [8]:
!pip install scikeras #install scikeras

ERROR: Invalid requirement: '#install': Expected package name at the start of dependency specifier
    #install
    ^

In [9]:
#!pip install scikit-learn==1.1.3

In [10]:
#!pip install tensorflow scikit-learn

In [ ]:
!pip install tensorflow
from tensorflow import keras

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from tensorflow.keras.optimizers import Adam, RMSprop, SGD

# Function to create the model (this allows flexibility for hyperparameter tuning)
def create_model(optimizer='adam', activation='relu', neurons=32, hidden_layers=1):
    model = Sequential()
    # Input layer + hidden layers
    model.add(Dense(neurons, input_dim=X_train.shape[1], activation=activation))
    for _ in range(hidden_layers - 1):
        model.add(Dense(neurons, activation=activation))
    # Output layer
    model.add(Dense(len(label_encoder.classes_), activation='softmax'))
    # Compile the model
    model.compile(optimizer=optimizer, loss='sparse_categorical_crossentropy', metrics=['accuracy'])
    return model

# Encode target labels
label_encoder = LabelEncoder()
normalized_data['letter'] = label_encoder.fit_transform(normalized_data['letter'])

# Split the dataset into features and target
X = normalized_data.drop(columns=['letter'])
y = normalized_data['letter']

# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the KerasClassifier model
model = KerasClassifier(build_fn=create_model, verbose=0)

# Define random search parameters
param_dist = {
    'batch_size': [32, 64, 128],
    'epochs': [10, 20],
    'optimizer': ['adam', 'rmsprop', 'sgd'],
    'activation': ['relu', 'tanh'],
    'neurons': [16, 32, 64],
    'hidden_layers': [1, 2, 3],
}

# Create RandomizedSearchCV object
random_search = RandomizedSearchCV(estimator=model, param_distributions=param_dist, n_iter=10, n_jobs=-1, cv=3)

# Execute random search
random_result = random_search.fit(X_train, y_train)

# Print the best parameters and the best score
print(f"Best parameters: {random_result.best_params_}")
print(f"Best accuracy: {random_result.best_score_}")

#4.Evaluation
●	Employ suitable metrics such as accuracy, precision, recall, and F1-score to evaluate your model's performance.                                    
●	Discuss the performance differences between the model with default hyperparameters and the tuned model, emphasizing the effects of hyperparameter tuning.

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

# Predict on the test set using the best model from random search
y_pred_default = random_search.best_estimator_.predict(X_test)

# Check the shape of the predictions
print(f"Shape of predictions: {y_pred_default.shape}")

# Ensure predictions are 2D for argmax (if necessary)
if len(y_pred_default.shape) == 1:
    y_pred_default = y_pred_default.reshape(-1, 1)

# Convert predictions to integer labels
#y_pred_default = y_pred_default.argmax(axis=1)

# Calculate evaluation metrics for the best model
accuracy_default = accuracy_score(y_test, y_pred_default)
precision_default = precision_score(y_test, y_pred_default, average='weighted')
recall_default = recall_score(y_test, y_pred_default, average='weighted')
f1_default = f1_score(y_test, y_pred_default, average='weighted')

# Print the classification report for the best model
print("Best Model Performance:")
print(classification_report(y_test, y_pred_default))

print(f"Accuracy: {accuracy_default}")
print(f"Precision: {precision_default}")
print(f"Recall: {recall_default}")
print(f"F1-Score: {f1_default}")

In [ ]:
# Predict on the test set with the tuned model
y_pred_tuned = random_search.best_estimator_.predict(X_test)

# Check the shape of the predictions
print(f"Shape of predictions: {y_pred_default.shape}")

# Ensure predictions are 2D for argmax (if necessary)
if len(y_pred_default.shape) == 1:
    y_pred_default = y_pred_default.reshape(-1, 1)

# Convert predictions to integer labels
#y_pred_tuned = y_pred_tuned.argmax(axis=1)

# Calculate evaluation metrics for the tuned model
accuracy_tuned = accuracy_score(y_test, y_pred_tuned)
precision_tuned = precision_score(y_test, y_pred_tuned, average='weighted')
recall_tuned = recall_score(y_test, y_pred_tuned, average='weighted')
f1_tuned = f1_score(y_test, y_pred_tuned, average='weighted')

# Print the classification report for the tuned model
print("Tuned Model Performance:")
print(classification_report(y_test, y_pred_tuned))

print(f"Accuracy: {accuracy_tuned}")
print(f"Precision: {precision_tuned}")
print(f"Recall: {recall_tuned}")
print(f"F1-Score: {f1_tuned}")

**Discussing Performance Differences :**                                     

Accuracy : Typically, hyperparameter tuning should result in higher accuracy as the model becomes more optimized for the data.                       
Precision and Recall : These metrics help in understanding how well the model performs in distinguishing between classes, particularly in cases of imbalanced datasets.                                    
F1-Score : This metric is particularly useful when precision and recall are not in balance, giving a better sense of the overall performance.

**Example Discussion :**

Default Model : The default model may achieve moderate accuracy but could struggle with certain classes, leading to lower precision or recall in some cases.                                                     
Tuned Model : With hyperparameter tuning, we expect an increase in accuracy, precision, recall, and F1-score. Hyperparameter tuning improves the model's ability to generalize better on the test data, particularly by optimizing the learning rate, number of layers, or activation functions. This could lead to significant improvements, especially if the initial model was underfitting or overfitting.